.box-shadow {
	box-shadow: rem(22) rem(-22) rem(44) rgba(255, 255, 255, 0.83), rem(-12) rem(12) rem(44) rgba(217, 217, 217, 0.37);
	// box-shadow: rem(22) rem(-22) rem(44) rgba(255, 255, 255, 1), rem(-12) rem(12) rem(44) rgba( #000, 1);
	border-radius: rem(47);
	border: 1px solid #fcfcfc;
	background-color: #fff;
}