$baseFontSize	: 16px;
$wrapperPadding	: rem(15);
$baseFontWeight	: 400;
$baseLineHeight	: 1.3;

$assetsPath			: '' !default;
$componentsImgPath	: '' !default;

$screens : () !default;

$colors	: (
	bgColor		: #fff,
	main		: #04313F,
	mainText	: #252527,
	mainLink	: #2076c3,
	mainTitle	: #000,
	accent		: #3891b0,
	accent2		: #003ea5,
);

$fonts : (
	default				: ('Open sans', sans-serif),
	roboto				: ('Roboto', sans-serif),
	robotoCondensed		: ('Roboto Condensed', sans-serif),
	openSans			: ('Open sans', sans-serif),
	openSansCondensed	: ('Open Sans Condensed', sans-serif),
	raleway				: ('raleway', sans-serif),
);

$z-layers: (
	mobileHeader	: 11,
	mobileMenu		: 10,
	fixefButtons	: 9,
);